Repository inexorgame/vulkan-renderer, pull requests merged in 2020-09, with the labels that each got.

#233 Integration of imgui user interface
  assets/fonts/LICENSE.txt
  assets/fonts/NotoSans-Bold.ttf
  assets/fonts/NotoSans-BoldItalic.ttf
  assets/fonts/NotoSans-Italic.ttf
  assets/fonts/NotoSans-Regular.ttf
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/imgui.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/wrapper/device.hpp
  include/inexor/vulkan-renderer/wrapper/fence.hpp
  include/inexor/vulkan-renderer/wrapper/graphics_pipeline.hpp
  include/inexor/vulkan-renderer/wrapper/mesh_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/renderpass.hpp
  include/inexor/vulkan-renderer/wrapper/texture.hpp
  shaders/CMakeLists.txt
  shaders/ui.frag
  shaders/ui.vert
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/imgui.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/wrapper/command_buffer.cpp
  src/vulkan-renderer/wrapper/device.cpp
  src/vulkan-renderer/wrapper/graphics_pipeline.cpp
  src/vulkan-renderer/wrapper/make_info.cpp
  src/vulkan-renderer/wrapper/mesh_buffer.cpp
  src/vulkan-renderer/wrapper/renderpass.cpp
  src/vulkan-renderer/wrapper/resource_descriptor.cpp
  src/vulkan-renderer/wrapper/texture.cpp
Labels: cat:enhancement, diff:advanced, feat:gui

#245 [renderer] Remove redundant arguments which are available through device wrapper.
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/wrapper/command_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/command_pool.hpp
  include/inexor/vulkan-renderer/wrapper/device.hpp
  include/inexor/vulkan-renderer/wrapper/fence.hpp
  include/inexor/vulkan-renderer/wrapper/framebuffer.hpp
  include/inexor/vulkan-renderer/wrapper/gpu_memory_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/graphics_pipeline.hpp
  include/inexor/vulkan-renderer/wrapper/image.hpp
  include/inexor/vulkan-renderer/wrapper/mesh_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/once_command_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/renderpass.hpp
  include/inexor/vulkan-renderer/wrapper/resource_descriptor.hpp
  include/inexor/vulkan-renderer/wrapper/semaphore.hpp
  include/inexor/vulkan-renderer/wrapper/shader.hpp
  include/inexor/vulkan-renderer/wrapper/staging_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/swapchain.hpp
  include/inexor/vulkan-renderer/wrapper/texture.hpp
  include/inexor/vulkan-renderer/wrapper/uniform_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/window.hpp
  include/inexor/vulkan-renderer/wrapper/window_surface.hpp
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/imgui.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/wrapper/command_buffer.cpp
  src/vulkan-renderer/wrapper/command_pool.cpp
  src/vulkan-renderer/wrapper/fence.cpp
  src/vulkan-renderer/wrapper/framebuffer.cpp
  src/vulkan-renderer/wrapper/gpu_memory_buffer.cpp
  src/vulkan-renderer/wrapper/graphics_pipeline.cpp
  src/vulkan-renderer/wrapper/image.cpp
  src/vulkan-renderer/wrapper/mesh_buffer.cpp
  src/vulkan-renderer/wrapper/once_command_buffer.cpp
  src/vulkan-renderer/wrapper/renderpass.cpp
  src/vulkan-renderer/wrapper/resource_descriptor.cpp
  src/vulkan-renderer/wrapper/semaphore.cpp
  src/vulkan-renderer/wrapper/shader.cpp
  src/vulkan-renderer/wrapper/staging_buffer.cpp
  src/vulkan-renderer/wrapper/swapchain.cpp
  src/vulkan-renderer/wrapper/texture.cpp
  src/vulkan-renderer/wrapper/uniform_buffer.cpp
Labels: cat:refactor

#242 [renderer] Adding a default or error texture.
  include/inexor/vulkan-renderer/imgui.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/wrapper/cpu_texture.hpp
  include/inexor/vulkan-renderer/wrapper/gpu_texture.hpp
  include/inexor/vulkan-renderer/wrapper/texture.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/imgui.cpp
  src/vulkan-renderer/wrapper/cpu_texture.cpp
  src/vulkan-renderer/wrapper/gpu_texture.cpp
Labels: cat:enhancement, cat:refactor

#246 ImGUI cleanup
  include/inexor/vulkan-renderer/imgui.hpp
  src/vulkan-renderer/imgui.cpp
  src/vulkan-renderer/wrapper/graphics_pipeline.cpp
Labels: cat:refactor

#247 Refactoring of error-handling
  example/main.cpp
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/availability_checks.hpp
  include/inexor/vulkan-renderer/error_handling.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/availability_checks.cpp
  src/vulkan-renderer/error_handling.cpp
  src/vulkan-renderer/gpu_info.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/settings_decision_maker.cpp
Labels: cat:refactor
