Repository inexorgame/vulkan-renderer, pull requests merged in 2020-04, with the labels that each got.

#44 Prevent possible data race in InexorThreadPool
  src/vulkan-renderer/thread-pool/InexorThreadPool.hpp
Labels: problem: thread safety, refactoring

#64 Replace apostrophe with typewriter apostrophe
  src/vulkan-renderer/command-buffer-recording/single_time_command_buffer.cpp
  src/vulkan-renderer/error-handling/error_handling.cpp
  src/vulkan-renderer/texture-manager/texture_manager.cpp
Labels: code quality, documentation

#66 Tweak travis config
  .travis.yml
Labels: build, travis CI

#67 Use Ninja build generator on travis
  .travis.yml
Labels: build, travis CI

#68 Yet another Cmake refactoring
  CMakeLists.txt
  cmake/conan_setup.cmake
Labels: build, cmake, code quality

#76 Add documentation
  .gitignore
  CHANGELOG.rst
  CMakeLists.txt
  CODEDESIGN.md
  Doxyfile
  documentation/CMakeLists.txt
  documentation/INSTRUCTION.md
  documentation/cmake/sphinx-config.cmake
  documentation/source/_static/css/style.css
  documentation/source/_static/js/svg-highlight.js
  documentation/source/changelog/main.rst
  documentation/source/code/main.rst
  documentation/source/conf.py
  documentation/source/content.rst.inc
  documentation/source/development/building.rst
  documentation/source/development/ci.rst
  documentation/source/development/cla.rst
  documentation/source/development/design/GPU_selection_mechanism.svg
  documentation/source/development/design/code-design.rst
  documentation/source/development/design/coding-style.rst
  documentation/source/development/design/folder-structure.rst
  documentation/source/development/design/foreword.rst
  documentation/source/development/design/illustrations.rst
  documentation/source/development/design/main.rst
  documentation/source/development/main.rst
  documentation/source/development/main.rst~
  documentation/source/development/preparation.rst
  documentation/source/index.rst
  generate_documentation.bat
  illustrations/GPU_selection_mechanism.png
Labels: documentation

#86 Add build instructions for gentoo
  BUILDING.md
Labels: build, feature, platform: Linux

#85 Replace _DEBUG with NDEBUG
  src/vulkan-renderer/renderer.cpp
Labels: code quality, refactoring

#84 [doc] Remove accidentally created file
  documentation/source/development/main.rst~
Labels: cleanup

#80 Cleanup cmake
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  documentation/CMakeLists.txt
  documentation/source/development/building.rst
  example/CMakeLists.txt
  example/main.cpp
  src/CMakeLists.txt
  src/inexor_application.hpp
  src/vulkan-renderer/camera/camera.hpp
  src/vulkan-renderer/gltf-model-manager/gltf_model_node.hpp
  src/vulkan-renderer/renderer.hpp
  src/vulkan-renderer/uniform-buffer-manager/uniform_buffer_manager.hpp
  tests/CMakeLists.txt
Labels: cmake, code quality

#92 [code] Apply code style on missing files
  benchmarks/engine_benchmark_main.cpp
  example/main.cpp
  tests/unit_tests_main.cpp
Labels: clang-format, code quality

#94 [vcs] Add .git-blame-ignore-revs file
  .git-blame-ignore-revs
Labels: clang-format, code quality

#93 Remove spurious using namespace std
  src/vulkan-renderer/renderer.hpp
Labels: cleanup, code quality

#98 Githubactions for linux
  .github/workflows/build_cmake.yml
  .github/workflows/ccpp.yml
  .github/workflows/clang-tidy.yml
Labels: build, github-actions, platform: Linux

#88 Read the doc support & convert md to rst
  .readthedocs.yml
  BUILDING.md
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.md
  CONTRIBUTING.rst
  README.md
  README.rst
  documentation/requirements.txt
  documentation/source/content.rst.inc
  documentation/source/contributing/code_of_conduct.rst
  documentation/source/contributing/contributors.rst
  documentation/source/contributing/main.rst
  documentation/source/development/building.rst
  documentation/source/development/preparation.rst
  documentation/source/license/main.rst
Labels: build, documentation, feature

#102 Remove all uses of using namespace std
  benchmarks/engine_benchmark_main.cpp
  src/vulkan-renderer/settings-decision-maker/settings_decision_maker.cpp
  src/vulkan-renderer/tools/file-loader/File.cpp
  tests/unit_tests_main.cpp
Labels: cleanup

#105 [ci] Refactor ci and add windows
  .github/workflows/build_cmake.yml
Labels: github-actions, refactoring

#108 [code] Remove unnecessary colons
  benchmarks/engine_benchmark_main.cpp
  tests/unit_tests_main.cpp
Labels: code quality

#112 [code] Replace #defines with constexpr
  include/inexor/vulkan-renderer/debug_marker_manager.hpp
  include/inexor/vulkan-renderer/gltf-model/uniform_buffer.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/thread_pool.hpp
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/thread_pool.cpp
Labels: code quality, refactoring

#115 Format fix and improve readability
  .clang-format
  include/inexor/vulkan-renderer/gltf-model/mesh.hpp
  include/inexor/vulkan-renderer/gltf-model/node.hpp
  include/inexor/vulkan-renderer/manager_template.hpp
  include/inexor/vulkan-renderer/texture_manager.hpp
  include/inexor/vulkan-renderer/thread_pool.hpp
  include/inexor/vulkan-renderer/uniform_buffer_manager.hpp
  src/vulkan-renderer/bezier_curve.cpp
  src/vulkan-renderer/camera.cpp
  src/vulkan-renderer/descriptor_manager.cpp
  src/vulkan-renderer/gltf-model/manager.cpp
  src/vulkan-renderer/mesh_buffer_manager.cpp
  src/vulkan-renderer/tools/cla_parser.cpp
  src/vulkan-renderer/tools/file.cpp
  src/vulkan-renderer/uniform_buffer_manager.cpp
Labels: code quality

#120 [ci] Simplify travis
  .travis.yml
Labels: build, travis CI

#118 [ci] Fix linux build
  .github/workflows/build_cmake.yml
Labels: build, platform: Linux

#74 Use set instead of option
  CMakeLists.txt
  cmake/conan_setup.cmake
Labels: build, cmake

#119 Add cmake shader compilation step
  CMakeLists.txt
  configuration/renderer.toml
  shaders/CMakeLists.txt
  shaders/compile_shaders.bat
  shaders/imgui/compile_shaders.bat
  shaders/physically-based-rendering/compile_shaders.bat
  shaders/skybox/compile_shaders.bat
  src/CMakeLists.txt
Labels: cmake

#97 Remove unnecessary const qualifiers
  include/inexor/vulkan-renderer/camera.hpp
  include/inexor/vulkan-renderer/debug_marker_manager.hpp
  include/inexor/vulkan-renderer/descriptor_manager.hpp
  include/inexor/vulkan-renderer/fence_manager.hpp
  include/inexor/vulkan-renderer/single_time_command_buffer.hpp
Labels: code quality

#127 [code] Remove self assignment
  src/vulkan-renderer/uniform_buffer_manager.cpp
Labels: problem: bug

#130 [code] Use std::vector::empty instead of checking size
  src/vulkan-renderer/application.cpp
Labels: refactoring

#125 [git] Clean up gitignore
  .gitignore
Labels: code quality

#133 Octree
  conanfile.py
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/world/BitStream.hpp
  include/inexor/vulkan-renderer/world/Cube.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/world/BitStream.cpp
  src/vulkan-renderer/world/Cube.cpp
Labels: octree, rendering

#126 [ci] Fix windows shader compilation
  .github/workflows/build_cmake.yml
Labels: platform: Linux, platform: Microsoft Windows, problem: build fails

#138 [code] Call recreate_swapchain at the end of application init
  src/vulkan-renderer/application.cpp
Labels: bugfix

#139 Tweak trivial things & adjust clang-tidy
  .clang-tidy
  include/inexor/vulkan-renderer/debug_callback.hpp
  include/inexor/vulkan-renderer/gltf-model/material.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/settings_decision_maker.hpp
  include/inexor/vulkan-renderer/texture.hpp
  include/inexor/vulkan-renderer/tools/cla_parser.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/availability_checks.cpp
  src/vulkan-renderer/camera.cpp
  src/vulkan-renderer/debug_callback.cpp
  src/vulkan-renderer/debug_marker_manager.cpp
  src/vulkan-renderer/descriptor_manager.cpp
  src/vulkan-renderer/error_handling.cpp
  src/vulkan-renderer/fence_manager.cpp
  src/vulkan-renderer/fps_counter.cpp
  src/vulkan-renderer/gltf-model/bounding_box.cpp
  src/vulkan-renderer/gltf-model/manager.cpp
  src/vulkan-renderer/gpu_info.cpp
  src/vulkan-renderer/mesh_buffer_manager.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/semaphore_manager.cpp
  src/vulkan-renderer/settings_decision_maker.cpp
  src/vulkan-renderer/shader_manager.cpp
  src/vulkan-renderer/texture.cpp
  src/vulkan-renderer/texture_manager.cpp
  src/vulkan-renderer/thread_pool.cpp
  src/vulkan-renderer/tools/cla_parser.cpp
Labels: github-actions

#141 [ci] Cleanup and fix clang build
  .github/workflows/build_cmake.yml
Labels: cleanup, github-actions

#142 [ci] Remove analyze step
  .github/workflows/build_cmake.yml
Labels: build, github-actions
