Repository inexorgame/vulkan-renderer, pull requests merged in 2020-07, with the labels that each got.

#191 [octree] Rework octree implementation
  .gitignore
  README.rst
  conanfile.py
  documentation/CMakeLists.txt
  documentation/helper/generate_radar.py
  documentation/requirements.txt
  documentation/source/conf.py
  documentation/source/development/main.rst
  documentation/source/development/reference/binary-format-specification.rst
  documentation/source/development/reference/main.rst
  documentation/source/development/reference/octree-file-format.rst
  documentation/source/development/reference/octree.svg
  documentation/source/development/reference/octree_corner.svg
  documentation/source/development/reference/octree_edge.svg
  documentation/source/development/reference/octree_indentation.svg
  include/inexor/vulkan-renderer/io/byte_stream.hpp
  include/inexor/vulkan-renderer/io/octree_parser.hpp
  include/inexor/vulkan-renderer/octree_vertex.hpp
  include/inexor/vulkan-renderer/world/bit_stream.hpp
  include/inexor/vulkan-renderer/world/cube.hpp
  include/inexor/vulkan-renderer/world/indentation.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/io/byte_stream.cpp
  src/vulkan-renderer/io/octree_parser.cpp
  src/vulkan-renderer/octree_vertex.cpp
  src/vulkan-renderer/world/bit_stream.cpp
  src/vulkan-renderer/world/cube.cpp
  src/vulkan-renderer/world/indentation.cpp
Labels: cat:enhancement, cat:refactor, diff:advanced, feat:octree

#200 [meta] Display folder structure in Visual Studio.
  src/CMakeLists.txt
Labels: cat:dev tools

#199 [update] Updated startpage.
  README.rst
Labels: cat:documentation

#197 Renderer overhaul + frame graph
  example/main.cpp
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/frame_graph.hpp
  include/inexor/vulkan-renderer/octree_gpu_vertex.hpp
  include/inexor/vulkan-renderer/octree_vertex.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/world/cube.hpp
  include/inexor/vulkan-renderer/wrapper/command_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/descriptor.hpp
  include/inexor/vulkan-renderer/wrapper/device.hpp
  include/inexor/vulkan-renderer/wrapper/fence.hpp
  include/inexor/vulkan-renderer/wrapper/framebuffer.hpp
  include/inexor/vulkan-renderer/wrapper/gpu_memory_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/graphics_pipeline.hpp
  include/inexor/vulkan-renderer/wrapper/info.hpp
  include/inexor/vulkan-renderer/wrapper/renderpass.hpp
  include/inexor/vulkan-renderer/wrapper/swapchain.hpp
  include/inexor/vulkan-renderer/wrapper/uniform_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/vma.hpp
  shaders/fragmentshader.frag
  shaders/imgui/ui.frag
  shaders/imgui/ui.vert
  shaders/physically-based-rendering/filtercube.vert
  shaders/physically-based-rendering/genbrdflut.frag
  shaders/physically-based-rendering/genbrdflut.vert
  shaders/physically-based-rendering/irradiancecube.frag
  shaders/physically-based-rendering/pbr.vert
  shaders/physically-based-rendering/pbr_khr.frag
  shaders/physically-based-rendering/prefilterenvmap.frag
  shaders/skybox/skybox.frag
  shaders/skybox/skybox.vert
  shaders/vertexshader.vert
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/frame_graph.cpp
  src/vulkan-renderer/octree_vertex.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/settings_decision_maker.cpp
  src/vulkan-renderer/wrapper/command_buffer.cpp
  src/vulkan-renderer/wrapper/command_pool.cpp
  src/vulkan-renderer/wrapper/descriptor.cpp
  src/vulkan-renderer/wrapper/device.cpp
  src/vulkan-renderer/wrapper/fence.cpp
  src/vulkan-renderer/wrapper/framebuffer.cpp
  src/vulkan-renderer/wrapper/gpu_memory_buffer.cpp
  src/vulkan-renderer/wrapper/graphics_pipeline.cpp
  src/vulkan-renderer/wrapper/image.cpp
  src/vulkan-renderer/wrapper/info.cpp
  src/vulkan-renderer/wrapper/instance.cpp
  src/vulkan-renderer/wrapper/once_command_buffer.cpp
  src/vulkan-renderer/wrapper/pipeline_layout.cpp
  src/vulkan-renderer/wrapper/renderpass.cpp
  src/vulkan-renderer/wrapper/semaphore.cpp
  src/vulkan-renderer/wrapper/shader.cpp
  src/vulkan-renderer/wrapper/staging_buffer.cpp
  src/vulkan-renderer/wrapper/swapchain.cpp
  src/vulkan-renderer/wrapper/texture.cpp
  src/vulkan-renderer/wrapper/vma.cpp
Labels: cat:refactor, feat:frame graph, feat:rendering
