Repository inexorgame/vulkan-renderer, pull requests merged in 2020-08, with the labels that each got.

#210 [ci] Remove mingw gcc
  .github/workflows/build.yml
Labels: cat:dev tools, feat:ci

#192 [dep] Update dependencies
  .github/workflows/build.yml
  cmake/conan_setup.cmake
  conanfile.py
  third_party/tiny_gltf/LICENSE
  third_party/tiny_gltf/tiny_gltf.h
Labels: cat:bug, cat:dependency

#219 Introduce new RAII wrapper for shader resource descriptors.
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/wrapper/command_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/descriptor.hpp
  include/inexor/vulkan-renderer/wrapper/resource_descriptor.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/wrapper/command_buffer.cpp
  src/vulkan-renderer/wrapper/descriptor.cpp
  src/vulkan-renderer/wrapper/resource_descriptor.cpp
Labels: cat:refactor

#223 Bring back Vulkan debug markers.
  example/CMakeLists.txt
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/frame_graph.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/thread_pool.hpp
  include/inexor/vulkan-renderer/wrapper/command_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/device.hpp
  include/inexor/vulkan-renderer/wrapper/fence.hpp
  include/inexor/vulkan-renderer/wrapper/framebuffer.hpp
  include/inexor/vulkan-renderer/wrapper/image.hpp
  include/inexor/vulkan-renderer/wrapper/instance.hpp
  include/inexor/vulkan-renderer/wrapper/mesh_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/once_command_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/pipeline_layout.hpp
  include/inexor/vulkan-renderer/wrapper/resource_descriptor.hpp
  include/inexor/vulkan-renderer/wrapper/semaphore.hpp
  include/inexor/vulkan-renderer/wrapper/shader.hpp
  include/inexor/vulkan-renderer/wrapper/staging_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/swapchain.hpp
  include/inexor/vulkan-renderer/wrapper/texture.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/availability_checks.cpp
  src/vulkan-renderer/frame_graph.cpp
  src/vulkan-renderer/io/byte_stream.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/thread_pool.cpp
  src/vulkan-renderer/wrapper/command_buffer.cpp
  src/vulkan-renderer/wrapper/device.cpp
  src/vulkan-renderer/wrapper/fence.cpp
  src/vulkan-renderer/wrapper/framebuffer.cpp
  src/vulkan-renderer/wrapper/image.cpp
  src/vulkan-renderer/wrapper/instance.cpp
  src/vulkan-renderer/wrapper/mesh_buffer.cpp
  src/vulkan-renderer/wrapper/once_command_buffer.cpp
  src/vulkan-renderer/wrapper/pipeline_layout.cpp
  src/vulkan-renderer/wrapper/resource_descriptor.cpp
  src/vulkan-renderer/wrapper/semaphore.cpp
  src/vulkan-renderer/wrapper/shader.cpp
  src/vulkan-renderer/wrapper/staging_buffer.cpp
  src/vulkan-renderer/wrapper/swapchain.cpp
  src/vulkan-renderer/wrapper/texture.cpp
Labels: cat:refactor

#155 [ci] Add clang format check
  .github/workflows/code_style.yml
Labels: cat:dev tools, cat:enhancement, feat:ci, prio:low

#232 [refactor] std::find for search loops
  src/vulkan-renderer/availability_checks.cpp
Labels: cat:enhancement, cat:refactor
