Repository inexorgame/vulkan-renderer, pull requests merged in 2021-05, with the labels that each got.

#379 [docs] Wiki update 3
  documentation/source/contributing/contribute-code.rst
  documentation/source/development/reference/keyboard-mouse-input.rst
  documentation/source/development/reference/main.rst
  documentation/source/faq/main.rst
Labels: cat:documentation

#368 Iceflower/various
  cmake/conan_setup.cmake
  conanfile.py
  documentation/CMakeLists.txt
  documentation/source/development/building.rst
  example/CMakeLists.txt
  helper/req_check.py
  helper/requirements_check/req_check.py
  include/inexor/vulkan-renderer/world/cube.hpp
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/io/nxoc_parser.cpp
  src/vulkan-renderer/world/cube.cpp
Labels: cat:dev tools, cat:documentation, feat:ci, org:review

#262 [cmake] Fix cmake gui multi config generation
  CMakeLists.txt
  cmake/conan_setup.cmake
  src/CMakeLists.txt
Labels: cat:dev tools, org:review

#392 [device|instance] Don't throw exception when it's not an error
  src/vulkan-renderer/wrapper/device.cpp
  src/vulkan-renderer/wrapper/instance.cpp
Labels: cat:refactor, prio:low

#395 [doc] Fix mermaid sphinx incompatibility
  documentation/requirements.txt
  documentation/source/conf.py
Labels: cat:documentation
