Repository inexorgame/vulkan-renderer, pull requests merged in 2021-07, with the labels that each got.

#409 [doc] Add CLion sponsoring label to main page
  README.rst
  documentation/source/images/icon_CLion.svg
Labels: cat:documentation

#329 [cmake] Use CMake to configure engine and app metadata instead of toml file
  .github/workflows/static_analysis.yml
  CMakeLists.txt
  benchmarks/engine_benchmark_main.cpp
  configuration/renderer.toml
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/meta.hpp.in
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  tests/unit_tests_main.cpp
Labels: cat:refactor

#385 [octree] Get neighboring cubes
  include/inexor/vulkan-renderer/world/cube.hpp
  src/vulkan-renderer/world/cube.cpp
  tests/CMakeLists.txt
  tests/world/cube.cpp
Labels: cat:enhancement, feat:octree, org:review, prio:low

#416 [doc] Reduce number of badges
  README.rst
Labels: cat:documentation

#414 [*] Fix typos and remove semicolons for namespaces
  benchmarks/world/cube_collision.cpp
  include/inexor/vulkan-renderer/bezier_curve.hpp
  include/inexor/vulkan-renderer/camera.hpp
  include/inexor/vulkan-renderer/render_graph.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/settings_decision_maker.hpp
  include/inexor/vulkan-renderer/time_step.hpp
  include/inexor/vulkan-renderer/world/collision.hpp
  include/inexor/vulkan-renderer/wrapper/device.hpp
  include/inexor/vulkan-renderer/wrapper/fence.hpp
  include/inexor/vulkan-renderer/wrapper/instance.hpp
  include/inexor/vulkan-renderer/wrapper/swapchain.hpp
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/imgui.cpp
  src/vulkan-renderer/settings_decision_maker.cpp
  src/vulkan-renderer/vk_tools/gpu_info.cpp
  src/vulkan-renderer/vk_tools/representation.cpp
  src/vulkan-renderer/wrapper/device.cpp
  src/vulkan-renderer/wrapper/gpu_texture.cpp
Labels: cat:refactor, prio:low

#421 [input] Ignore invalid key ids and button ids
  include/inexor/vulkan-renderer/input/keyboard_mouse_data.hpp
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/input/keyboard_mouse_data.cpp
Labels: cat:bug

#424 [doc] Fix documentation build
  documentation/requirements.txt
Labels: cat:documentation

#383 Render Graph improvements
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/imgui.hpp
  include/inexor/vulkan-renderer/render_graph.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/world/cube.hpp
  include/inexor/vulkan-renderer/wrapper/command_buffer.hpp
  include/inexor/vulkan-renderer/wrapper/graphics_pipeline.hpp
  include/inexor/vulkan-renderer/wrapper/renderpass.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/imgui.cpp
  src/vulkan-renderer/input/keyboard_mouse_data.cpp
  src/vulkan-renderer/render_graph.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/world/collision_query.cpp
  src/vulkan-renderer/world/cube.cpp
  src/vulkan-renderer/wrapper/command_buffer.cpp
  src/vulkan-renderer/wrapper/graphics_pipeline.cpp
  src/vulkan-renderer/wrapper/renderpass.cpp
Labels: cat:enhancement

#425 [doc] Add build instructions for Debian
  documentation/source/development/building.rst
Labels: cat:documentation
