Repository inexorgame/vulkan-renderer, pull requests merged in 2021-01, with the labels that each got.

#284 Introduce custom exception class and refactor error handling
  example/main.cpp
  include/inexor/vulkan-renderer/exceptions/exception.hpp
  include/inexor/vulkan-renderer/exceptions/vk_exception.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/availability_checks.cpp
  src/vulkan-renderer/exceptions/vk_exception.cpp
  src/vulkan-renderer/frame_graph.cpp
  src/vulkan-renderer/gpu_info.cpp
  src/vulkan-renderer/imgui.cpp
  src/vulkan-renderer/settings_decision_maker.cpp
  src/vulkan-renderer/wrapper/command_buffer.cpp
  src/vulkan-renderer/wrapper/command_pool.cpp
  src/vulkan-renderer/wrapper/descriptor.cpp
  src/vulkan-renderer/wrapper/device.cpp
  src/vulkan-renderer/wrapper/fence.cpp
  src/vulkan-renderer/wrapper/framebuffer.cpp
  src/vulkan-renderer/wrapper/gpu_memory_buffer.cpp
  src/vulkan-renderer/wrapper/gpu_texture.cpp
  src/vulkan-renderer/wrapper/graphics_pipeline.cpp
  src/vulkan-renderer/wrapper/image.cpp
  src/vulkan-renderer/wrapper/instance.cpp
  src/vulkan-renderer/wrapper/once_command_buffer.cpp
  src/vulkan-renderer/wrapper/renderpass.cpp
  src/vulkan-renderer/wrapper/semaphore.cpp
  src/vulkan-renderer/wrapper/shader.cpp
  src/vulkan-renderer/wrapper/swapchain.cpp
  src/vulkan-renderer/wrapper/window_surface.cpp
Labels: cat:refactor

#301 Fix --gpu command line argument
  src/vulkan-renderer/application.cpp
Labels: cat:bug

#295 Implement --stop-on-validation-message for Vulkan validation layer message callback.
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/tools/cla_parser.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/debug_callback.cpp
Labels: cat:enhancement

#305 [renderer] Fix image attachment initial layout for imgui renderpass
  src/vulkan-renderer/imgui.cpp
Labels: cat:bug

#303 Remove availability checks manager
  include/inexor/vulkan-renderer/availability_checks.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/wrapper/device.hpp
  include/inexor/vulkan-renderer/wrapper/instance.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/availability_checks.cpp
  src/vulkan-renderer/wrapper/device.cpp
  src/vulkan-renderer/wrapper/instance.cpp
Labels: cat:refactor

#308 Refactor GPU info class
  include/inexor/vulkan-renderer/gpu_info.hpp
  include/inexor/vulkan-renderer/gpu_info/gpu_info.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/surface_formats.hpp
  src/CMakeLists.txt
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/gpu_info.cpp
  src/vulkan-renderer/gpu_info/gpu_info.cpp
Labels: cat:refactor

#310 [camera] Implement WASD camera.
  include/inexor/vulkan-renderer/application.hpp
  include/inexor/vulkan-renderer/camera.hpp
  include/inexor/vulkan-renderer/input/keyboard_mouse_data.hpp
  include/inexor/vulkan-renderer/renderer.hpp
  include/inexor/vulkan-renderer/wrapper/window.hpp
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/camera.cpp
  src/vulkan-renderer/input/keyboard_mouse_data.cpp
  src/vulkan-renderer/renderer.cpp
  src/vulkan-renderer/wrapper/window.cpp
Labels: cat:enhancement, cat:refactor
