Repository inexorgame/vulkan-renderer, pull requests merged in 2022-03, with the labels that each got.

#451 [*] Switch build targets and dependencies to C++20
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/conan_setup.cmake
  example/CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
Labels: cat:dev tools, cat:enhancement

#454 Improve GitHub organization
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/workflows/add_labels.yaml
  .github/workflows/remove_labels.yaml
  SECURITY.rst
Labels: cat:documentation, cat:enhancement, feat:ci

#453 [cmake] Show shader files in VS project filter
  shaders/CMakeLists.txt
Labels: cat:dev tools

#455 Refactoring: Introduce wrapper functions for Vulkan create methods
  include/inexor/vulkan-renderer/render_graph.hpp
  include/inexor/vulkan-renderer/wrapper/command_pool.hpp
  include/inexor/vulkan-renderer/wrapper/cpu_texture.hpp
  include/inexor/vulkan-renderer/wrapper/device.hpp
  include/inexor/vulkan-renderer/wrapper/gpu_texture.hpp
  include/inexor/vulkan-renderer/wrapper/once_command_buffer.hpp
  src/vulkan-renderer/application.cpp
  src/vulkan-renderer/render_graph.cpp
  src/vulkan-renderer/wrapper/command_pool.cpp
  src/vulkan-renderer/wrapper/descriptor.cpp
  src/vulkan-renderer/wrapper/device.cpp
  src/vulkan-renderer/wrapper/fence.cpp
  src/vulkan-renderer/wrapper/framebuffer.cpp
  src/vulkan-renderer/wrapper/gpu_texture.cpp
  src/vulkan-renderer/wrapper/image.cpp
  src/vulkan-renderer/wrapper/once_command_buffer.cpp
  src/vulkan-renderer/wrapper/semaphore.cpp
  src/vulkan-renderer/wrapper/shader.cpp
  src/vulkan-renderer/wrapper/staging_buffer.cpp
  src/vulkan-renderer/wrapper/swapchain.cpp
Labels: cat:refactor
